<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
  <Appenders>
    <RollingFile
            name = "RollingFile"
            fileName = "./target/webMonitor.log"
            filePattern = "./target/webMonitor.log_v1_%i.log">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %level- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size = "10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max = "5"/>
        </RollingFile>
  </Appenders>
  <Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>